* { box-sizing: border-box;

}
html, body {
    height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: url("../images/subtle_grunge/subtle_grunge/subtle_grunge_@2X.png");
    font-size:18px;
    display: flex;
    flex-direction: column;
}
/* Header */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 80px;
}
.headerCenter {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

#logo
{
    background-color: #4aaaa5;
    width: 250px;
    height: 80px;
    font-size: 30px;
    font-weight: 550;
    color:#ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    text-align: center;
    padding: 25px 0px;
    text-decoration:none;

}

.navigation-bar {
    float: right;   
    padding: 31px 0;
    text-align: center;
}

.navigation-bar li {
    list-style: none;
    float:left;
}

.navigation-bar li a {
    display: block;
    text-decoration:none;
    margin-right: 0px;
    padding: 0 10px;
    border-right: 1px solid #dddddd;
   
}
.navigation-bar li:last-child a{
    border:none;
}

}
a:link {
    color: #777777;
    text-decoration: none;
}
a:visited {
    color: #777777;
    text-decoration: none;

}

a:active {
    color: #777777;
    text-decoration: none;
}
#header-links a:hover {
    font-size: 25px;
    color: #4AAAA5;
}
/* Content for Index */

.content-box {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    flex: 1 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;

}
.content-box h2 {
    font-size: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
    padding: 25px 0px 25px 0px;
    border-bottom: 3px solid #dddddd;
    margin: 0px 25px 0px 25px;

}
.content {
 
    padding: 25px 25px 25px 25px;
    font-weight: 549;
    overflow: auto;
  
}
#portrait {
    width: 20%;
    height: auto;
    float: left;
    margin: 0px 25px 25px 0px
    
}
/* Why did I need to have a negative top margin to make it line up? I assumme it related to the line-height, but why -10 and not -35? */
.content p {
    line-height: 35px;
    margin-top: -10px;

}

/* Footer */

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    font-size: 14px;
    height: 50px;
    clear: both;
    flex-shrink: 0;
    padding-top: 18px;
}


/*Content for Portfolio*/
#portfolio-covers {
    width: 269px;
    height: 200px;
    object-fit: cover;
    margin: 25px 25px 25px 25px;
    overflow: auto;
}
#portfolio-covers:hover {
    border: 2px solid rgba(74,170,165, .9);
}
#portfolio-covers:hover + .title{
    background: rgba(74,170,165, .8);
    height: 60px;
    font-size:20px;
    padding: 20px 0;
    bottom: 25px;
}

.portfolio-gallery div {
    position: relative;
    float: left;
  
}
.title {
    background: #4aaaa5;
    width: 269px;
    height: 50px;
    text-align: center;
    position: absolute;
    color: #ffffff;
    right: 0;
    left: 25px;
    bottom: 35px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 16px 0
}

/*Content-for-Contact*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #dddddd; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5ACCC6;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }